# name: CI/CD Pipeline 

permissions:
    id-token: write
    contents: read
    packages: read
    actions: read

on:
  pull_request:
    branches:
      - main

  push:
    tags:
        - "*"
    branches:
      - main

jobs:
    setup:
        name: Checkout
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                python-version: '3.10'


    sam-validate:
        name: Sam Validate
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: SetUp Sam
              uses: aws-actions/setup-sam@v2
              with:
                use-installer: true

            # - name: Configure AWS credentials
            #   uses: aws-actions/configure-aws-credentials@v3
            #   env:
            #         BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
            #   with:
            #         role-to-assume: arn:aws:iam::359638155793:role/CN-GITHUB
            #         role-session-name: demo-codeComposer
            #         aws-region: us-east-1

            - name: Validate Sam
              run: sam validate --region=us-east-1

    deploy:
        name: Sam Build and Deploy
        runs-on: ubuntu-latest
        # don't run if it's a PR
        if: github.event_name != 'pull_request'
        needs:
          - setup
          - sam-validate
        steps:
            - uses: actions/checkout@v3
            - name: Install poetry
              run: curl -sSL https://install.python-poetry.org | python3 -
          
            - uses: actions/setup-python@v4
              with:
                python-version: '3.11'
                cache: 'pip'
          
            - name: SetUp Sam
              uses: aws-actions/setup-sam@v2
              with:
                use-installer: true
          
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v3
              env:
                    BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
              with:
                    role-to-assume: arn:aws:iam::359638155793:role/CN-GITHUB
                    role-session-name: demo-codeComposer
                    aws-region: us-east-1
          
            - name: Build Sam
              run: sam build
          
            # - name: Deploy Sam
            #   run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset